[submodule "java-baseball-6"]
	path = java-baseball-6
	url = git@github.com:IMWoo94/java-baseball-6.git
[submodule "java-baseball-6-mirror"]
	path = java-baseball-6-mirror
	url = git@github.com:IMWoo94/java-baseball-6-mirror.git
[submodule "precource1"]
	path = precource1
	url = git@github.com:IMWoo94/java-baseball-6.git
[submodule "precource1-mirror"]
	path = precource1-mirror
	url = git@github.com:IMWoo94/java-baseball-6-mirror.git
[submodule "precource2"]
	path = precource2
	url = git@github.com:IMWoo94/java-racingcar-6.git
[submodule "precource2-mirror"]
	path = precource2-mirror
	url = git@github.com:IMWoo94/java-racingcar-6-mirror.git
[submodule "precource3"]
	path = precource3
	url = git@github.com:IMWoo94/java-lotto-6.git
[submodule "precource3-mirror"]
	path = precource3-mirror
	url = git@github.com:IMWoo94/java-lotto-6-mirror.git
